body {
  color: var(--color-text);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

p,
li,
h1,
h2,
h3,
h4 {
  hyphens: auto;
  margin-top: 0;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-oswald);
}

h1 {
  font-size: var(--font-step-5);
}

h2 {
  font-size: var(--font-step-4);
}

h3 {
  font-size: var(--font-step-3);
}

h4 {
  font-size: var(--font-step-2);
}
