html {
  box-sizing: border-box;
}

// @see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// @see https://www.nicchan.me/blog/tips-for-focus-styles/#consider-adding-a-little-bit-of-breathing-room
*,
*::before,
*::after {
  box-sizing: inherit;
  outline-offset: 0.25rem;
}

// @see: https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/
@media (prefers-reduced-motion: reduce), (update: slow) {
  *,
  ::before,
  ::after {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

// @see https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/
body {
  line-height: 1.5;
}

// @see https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/
p,
li,
h1,
h2,
h3,
h4 {
  hyphens: auto;
  overflow-wrap: break-word;
}

// @see https://www.zachleat.com/web/fluid-images/
img,
iframe,
object,
embed,
video {
  max-width: 100%;
}

img[width][height],
iframe[width][height],
object[width][height],
embed[width][height],
video[width][height] {
  height: auto;
}

img[src$=".svg"] {
  height: auto;
  max-width: none;
  width: 100%;
}

label {
  cursor: pointer;
}

sup,
sub {
  font-size: 50%;
}

// @see https://www.tpgi.com/short-note-on-making-your-mark-more-accessible/
mark {
  &::before,
  &::after {
    content:" [início de texto destacado] ";
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  &::after {
    content:" [fim de texto destacado] ";
  }
}


// @see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s#accessibility_concerns
s {
  &::before,
  &::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &::before {
    content: " [início de texto tachado] ";
  }

  &::after {
    content: " [fim de texto tachado] ";
  }
}


// @see https://matthiasott.com/notes/focus-visible-is-here
:focus:not(:focus-visible) {
  box-shadow: none;
  outline: 0;
}

// ==========================================================================
// Project specifics
// ==========================================================================

// @see https://twitter.com/argyleink/status/1413850241477005312
// @see https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/
:root {
  --brand: #157bad;
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;

  accent-color: var(--brand);
}

html {
  caret-color: var(--brand);
}

body {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: $global-font-size;
}

:focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

::marker {
  color: var(--brand);
}

::-webkit-calendar-picker-indicator {
  color: var(--brand);
}

::-webkit-clear-button {
  color: var(--brand);
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  color: var(--brand);
}


// ::selection {}

// input::placeholder {}
// textarea::placeholder {}
// input::-webkit-input-placeholder {}
// textarea::-webkit-input-placeholder {}
// input::-moz-placeholder {}
// textarea::-moz-placeholder {}
// input:-ms-input-placeholder {}
// textarea:-ms-input-placeholder {}
