/* prettier-ignore */
:root {
  // TODO: add more values to implement a vertical rhythm
  --font-size-default: 18px;

  --line-height-default: 1.5;

  // @see https://systemfontstack.com/
  --font-family-sans-serif: -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
  --font-family-serif: times new roman, droid serif, times, source serif pro, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  --font-family-mono: menlo, consolas, monaco, liberation mono, lucida console, monospace;
}
