@use '../02-tools/rem' as *;

// TODO: add more values to implement a vertical rhythm
$font-size: (
  'default': rem(18),
);

// @see https://systemfontstack.com/
$font-family: (
  'sans-serif':
    '-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif',
  'serif':
    'Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol',
  'mono': 'Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace',
);

$line-height: (
  'default': 1.5,
);

:root {
  @each $name, $value in $font-size {
    --font-size-#{$name}: #{$value};
  }

  @each $name, $value in $font-family {
    --font-family-#{$name}: #{$value};
  }

  @each $name, $value in $line-height {
    --line-height-#{$name}: #{$value};
  }
}
